@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    
}
header {
    background-color:  #FF69B4;
    color: #E4EEF1;
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
    font-weight: normal;
    align-items: center; 
   
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;  
    
      
}


.Título {
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

nav {
    width: 40%;
    
    ul {
        display: flex;
        justify-content: space-evenly;   
    } 
    li {
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #FFD9EC;

}

.Sobre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;

    .FirstBox {
        font-size: 3.0vh;
        width: 35vw;
    }
    .Primeiraimagem {
        height: 45vh;
     }
    
    }

    .Conscientização {
        background-color:  #FF69B4;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 35vh;
    
        .Segundaimagem {
            height: 30vh;
        }
    
        .SecondBox {
            color:  #E4EEF1;
            font-size: 3.0vh;
            width: 38.9vw;
        }
    
    }

    .Dicas {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 60vh;
    
        .Informações{
            height: 35vh;
        }
    }

    footer {
        background-color:  #FF69B4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 25vh;
    
        .RedesSociais {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 12vw;
            cursor: pointer;
            
        }

        .botão {
            height: 7vh;
          
          }
          .Dados {
              display: flex;
              flex-direction: column;
              align-items: center;
      
              p{
                  font-size: 3vh;
                  color:  #E4EEF1;
      
              }
          }
          .Laço{
              height: 18vh;
          }
      }
      